  <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
              <li>
                  <div class="user-info-wrapper"> 
                      <div class="user-info-profile-image">                          
                          <%= image_tag 'img/profile-1.jpg', alt: '', width: 65, height: 65 %>
                      </div>
                      <div class="user-info">
                          <div class="user-welcome">Welcome</div>
                          <div class="username">User <strong>Name</strong></div>
                          <div class="status">Status <span class="status-now"><i class="fa fa-circle text-emerald fa"></i> Online</span> </div>
                      </div>
                  </div>
              </li>
              
              <li>
                  <a href="real_time_stats" class="<%= nav_active(real_time_stats_path)%>"><i class="fa fa-dashboard fa-fw fa-3x"></i>Real Time Stats</a>
              </li>

              <li>
                  <a href="garage_flooring" class="<%= nav_active(garage_flooring_path)%>"><i class="fa fa-dashboard fa-fw fa-3x"></i>Garage Flooring</a>
              </li>

              <li>
                  <a href="garage_cabinetry" class="<%= nav_active(garage_cabinetry_path)%>"><i class="fa fa-dashboard fa-fw fa-3x"></i>Garage Cabinetry</a>
              </li>

              <li>
                  <a href="in_home" class="<%= nav_active(in_home_path)%>"><i class="fa fa-dashboard fa-fw fa-3x"></i>In Home</a>
              </li>
               
              <li>
                  <a href="all_campaigns" class="<%= nav_active(all_campaigns_path)%>"><i class="fa fa-dashboard fa-fw fa-3x"></i>All Campaigns</a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-phone fa-fw fa-3x"></i> Contact Us</a>
              </li>
               
          </ul>
      
      </div>
      
  </nav>