<div id="wrapper">

    <%= render "nav_bar" %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-asbestos">"NORTHERN VIRGINIA" In Home Adgroups</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        CAMPAIGN = <b>05 - Carter - Norther Virginia - In Home</b><br>
                        INCLUDES ALL ADGROUPS WITHIN CAMPAIGN ABOVE
                    </div>                            
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <% ['yesterday', 'last_7_days', 'this_month', 'last_month', 'last_2_month'].each do |filter|%>
                              <li class="<%= 'active' if filter == @filter %>" >
                                <%= link_to filter_label(filter), in_home_path(filter: filter), data: {toggle: 'tab-content'} %>
                              </li>
                            <% end %>
                        </ul>

                        <div class="tab-content" id="tab_dashboard">
                            <% if @filter == 'yesterday' %>
                                <div class="tab-pane fade in active">
                                    <h4><%= filter_label(@filter) %>'s Stats - All Campaigns</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body asbestos">
                                                    <i class="fa fa-bar-chart-o fa-3x"></i>
                                                    <h3><%= @report[:impressions] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Impressions 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                            <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-users fa-3x"></i>
                                                    <h3><%= @report[:clicks] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Clicks 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                            <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-money fa-3x"></i>
                                                    <h3>$<%= @report[:cost] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Cost 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-unsorted fa-3x"></i>
                                                    <h3><%= @report[:avg_position] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Average Position 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="tab-pane fade in active">
                                    <h4><%= filter_label(@filter) %>'s Stats - In Home</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-2">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body asbestos">
                                                    <i class="fa fa-bar-chart-o fa-3x"></i>
                                                    <h3><%= @report[:impressions] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                       Impressions
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-2">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-unsorted fa-3x"></i>
                                                    <h3><%= @report[:ctr] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Impression Rate 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-2">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-users fa-3x"></i>
                                                    <h3><%= @report[:clicks] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Clicks 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-4">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-money fa-3x"></i>
                                                    <h3>$<%= @report[:cost] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Cost 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-xs-6 col-md-3 -->
                                        <div class="col-xs-6 col-md-2">
                                            <div class="panel panel-primary text-center panel-eyecandy">
                                                <div class="panel-body theme-color">
                                                    <i class="fa fa-unsorted fa-3x"></i>
                                                    <h3><%= @report[:avg_position] %></h3>
                                                </div>
                                                <div class="panel-footer">
                                                    <span class="panel-eyecandy-title">
                                                        Average Position 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>                 
                                    </div>
                                </div>
                            <% end %>    

                        </div>
                    </div>                     
                </div>                        
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 Performing Keywords All Time  - In Home
                    </div>
                    <!-- /.panel-heading -->
                    <%= render "table_body" %>
                </div>
            </div>          
        </div>
        
    </div>
</div>